.card-footer{
    padding:0;
    cursor: pointer;
}
.card{
    margin-bottom: 30px;
    height: 350px;
    /* width: 200px; */
    transition: transform .2s;
}
.card:hover{
    border-color: tomato;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}

img {
    height: 150px;
    max-width: none;
    /* max-width: 200px; */
    object-fit: cover;
}
/* img{
    height: 200px;
} */
