<h1>Admin Orders</h1>
<div>
    <select [(ngModel)]="dateFilterVar" value="All Days" #dateFilter="ngModel" name="dateFilter" id="dateFilter" type="text" class="form-control">
        <option value="All Days" selected="selected">All Days</option>
        <option value="last 30 days">Last 30 Days</option>
        <option value="last 180 days">Last 180 Days</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
    </select>
    <button mat-button matSuffix mat-icon-button (click)="dateFiltering()">Butt</button>
    <mat-form-field class="search-form-field">
      <mat-label>Search</mat-label>
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Type to search here."
        autocomplete="off"
        (keyup)="applyFilter()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
</div>


<!-- Table Data -->
<div class="mat-elevation-z8 products-table">
  <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="sno">
          <mat-header-cell *matHeaderCellDef mat-sort-header>SNo</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">{{
            paginatorRef.pageIndex * paginatorRef.pageSize + (i + 1)
          }}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="datePlaced">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.datePlaced }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.quantity }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Amount(in ₹)</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.totalAmount }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <p *ngIf="element.status == 'Order Placed'" style="color: orange">{{ element.status }}</p>
          <p *ngIf="element.status == 'Delivered'" style="color: green">{{ element.status }}</p>
          <p *ngIf="element.status == 'Returned'" style="color: red">{{ element.status }}</p>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="$key">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button type="button" >
          <a [routerLink]="['/admin/order/', element._id]" style="color: green"
            ><mat-icon>create</mat-icon></a
          >
        </button>
      </mat-cell>
      <!-- <mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary" style="color: white; background-color: teal;" [routerLink]="['/admin/categories/', element._id]" >
          View more
        </button>
      </mat-cell> -->
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6"
        >Loading data...</mat-footer-cell
      >
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">No data</mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: listData != null }"
    ></mat-footer-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ hide: !(listData != null && listData.data.length == 0) }"
    ></mat-footer-row>
  </mat-table>
  <mat-paginator
    #paginatorRef
    [pageSizeOptions]="[5, 10, 15, 20]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>

