<h2>Shipping</h2>
<div class="row">
  <div class="col-md-6 mt-2">
    <form *ngIf="!passwordSent" #f="ngForm" (ngSubmit)="addButtonPressed()">
      <div class="form-group">
        <label for="">Name</label>
        <input
          autofocus
          #name="ngModel"
          name="name"
          [(ngModel)]="shipping.name"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Address Line 1</label>
        <input
          #addressLine1
          name="addressLine1"
          [(ngModel)]="shipping.addressLine1"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
          <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Address Line 2</label>
        <input
          #addressLine2="ngModel"
          name="addressLine2"
          [(ngModel)]="shipping.addressLine2"
          type="text"
          class="form-control"
          placeholder="Line 2"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="addressLine2.touched && addressLine2.invalid"
        >
          <div *ngIf="addressLine2.errors.required">
            Address Line 2 is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input
          #city="ngModel"
          name="city"
          [(ngModel)]="shipping.city"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors.required">City is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">State</label>
        <input
          #state="ngModel"
          name="state"
          [(ngModel)]="shipping.state"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
          <div *ngIf="state.errors.required">State is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Country</label>
        <input
          #country="ngModel"
          name="country"
          [(ngModel)]="shipping.country"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
          <div *ngIf="country.errors.required">Country is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Phone Number</label>
        <input
          #phoneNumber="ngModel"
          name="phoneNumber"
          [(ngModel)]="shipping.phoneNumber"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="phoneNumber.touched && phoneNumber.invalid">
          <div *ngIf="phoneNumber.errors.required">Phone Number is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid || totalPrice==0">
        Place Order
      </button>
      <p *ngIf="totalPrice==0">Your shopping cart is empty!</p>
    </form>

    <div *ngIf="passwordSent">
      <div class="alert alert-success" ><strong>Alert:</strong> An OTP has been sent to <b>{{otpModel.email}}</b>. Please enter below to verify order</div>
      <form #otpForm="ngForm" class="form-signin text-center" style="padding: 2px" (submit)="otpSubmitPressed()">
        <input #otp ngModel type="text" name="otp" id="otp" [(ngModel)]="otpValue" class="form-control" placeholder="Enter OTP" required>
        <div class="row mt-2">
          <div class="col-6">
            <button [disabled]="!otpForm.valid" class="btn btn-primary btn-block" type="submit">Verify and Register</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary btn-block" type="button" (click)="addButtonPressed()">Resend OTP</button>
          </div>
        
      </div>
      </form>
    </div>
  </div>  
  <div class="col-sm-6 mt-2">
      <shopping-cart-summary></shopping-cart-summary>
  </div>
</div>
