.hide{
    display:none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

.search-form-field{
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
}

.products-table{
    margin: auto;
}

button:hover{
    opacity: 0.7;
}