<div class="row">
    <div class="col">
        <button type="button"  class="btn btn-info" routerLink="/admin/categories">    
            <span class="material-icons">
                arrow_back
          </span>
        </button>
        <div class="card card-1 mt-2">
            <div class="card-body">
                <form #f="ngForm" (submit)="save()">
                    <div class="form-group">
                        <!-- <label for="key">Key</label> -->
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Key</span>
                          </div>
                        <input autofocus required [(ngModel)]="product.key" #key="ngModel"  name="key" id="key" type="text" class="form-control">
                        </div>
                        <div class="alert alert-danger" *ngIf="key.touched && key.invalid">Key is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="name">Name</label> -->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                              </div>
                            <input required [(ngModel)]="product.name" #name="ngModel" name="name" id="name" type="text" class="form-control">
                        </div>
                            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                <div *ngIf="name.errors.required">Name is required.</div>
                            </div>
                    </div>
                    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
                    <button class="btn btn-danger ml-2" type="button" (click)="delete()">Delete</button>
                </form>
            </div>
        </div>
    </div>
   
   
</div>
