<div>
  <div class="text-center">
    <h1>Complete your Order</h1>
  </div>
  <hr />
  <div class="row mt-5 mb-5">
    <div class="col-2"></div>
    <div class="col-5">
      Your order will be charged in INR
    </div>
    <div class="col-3">Order Total: &#8377; {{ orderData.totalAmount }}</div>
    <div class="col-2"></div>
  </div>
  <hr />
  <div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h3>Payment Information</h3>
        Enter your credit card details below. We accept Visa, Mastercard,
        discover, and American Express.
      </div>
      <div class="col-3"></div>
    </div>

    <br />
    <form #f="ngForm" (submit)="save()">
      <div class="row mt-3" style="font-weight: light;">
        <div class="col-4" style="text-align: right;">Number:</div>
        <div class="col-6" style="text-align: right;">
          <input
            #number
            name="number"
            [(ngModel)]="card.number"
            type="number"
            class="form-control"
            placeholder="Credit Card Number"
            required
          />
          <div
            class="alert alert-danger"
            *ngIf="number.touched && number.invalid"
          >
            <div *ngIf="number.errors.required">Card Number is required.</div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-4" style="text-align: right;">Cardholder's Name:</div>
        <div class="col-6" style="text-align: right;">
          <input
            #name
            name="name"
            [(ngModel)]="card.name"
            type="text"
            class="form-control"
            required
          />
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required">
              Cardholder's Name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4" style="text-align: right;">Expiration Date:</div>
        <div class="col-6" style="text-align: right;">
          <select
            required
            [(ngModel)]="card.month"
            #month="ngModel"
            name="month"
            id="month"
            type="text"
            class="form-control"
            style="width: 120px"
          >
            <option value="">mm</option>
            <option *ngFor="let c of monthArray" [value]="monthArray[c-1]">{{ monthArray[c-1] }}</option>
          </select>
          <select
          required
          [(ngModel)]="card.year"
          #year="ngModel"
          name="year"
          id="year"
        
          class="form-control"
          style="width: 120px"
        >
          <option value="">yyyy</option>
          <option *ngFor="let c of yearArray" [value]="yearArray[c-1]">{{ yearArray[c-1] }}</option>
        </select>
          <div class="alert alert-danger" style="text-align: left;" *ngIf="month.touched && month.invalid">
            <div *ngIf="month.errors.required">
              Month is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3" style="font-weight: light;">
        <div class="col-4" style="text-align: right;"></div>
        <div class="col-6" style="text-align: right;">
          <button class="btn btn-danger" routerLink="/shopping-cart">Cancel</button>
          <button class="btn btn-primary" [disabled]="!f.valid">Place Order</button>
        </div>
        </div>
      
    </form>
  </div>
</div>
