<div class="container vertically-center text-center">
    <p style="font-size: 80px;">404</p>
    <h1>Something's Not Right!</h1>
    <p>It seems the page can't be found</p>    
    <p>Sorry! You seem to have been redirected to a wrong page.</p>
    
    <button class="btn" style="margin-right: 20px;" [routerLink]="['/']">Go to Home Page</button><button class="btn" href="mailto: rohanmittal01@gmail.com">Report an issue</button>
    
    <p class="mt-4">Or Contact us on organix@gmail.com</p>
</div>